<div id="sidebar">

    <div class="list-group sidelist" style="float:left;width: 250px;">
        <a href="#" class="list-group-item list-group-item-action">War<div style="font-size: 12px;color:#999">Movie</div></a>
        <a href="#" class="list-group-item list-group-item-action">Dreamgirl<div style="font-size: 12px;color:#999">Movie</div></a>
        <a href="#" class="list-group-item list-group-item-action">Chhichhore<div style="font-size: 12px;color:#999">Movie</div></a>
    </div>

</div>